<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">My App</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/transactions">Transactions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tradepnl">Trade PNL</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/mydata">My Data</a>
            </li>
        </ul>
    </div>
</nav>

